node_modules
next.config.ts
sentry.client.config.js
lint-staged.config.js
lib/routes
packages/api/lib/**/*.ts
packages/eslint-config-custom/*
packages/tailwind-config/*
next-env.d.ts
statoscope.config.js
