# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# custom
.idea
.vscode
.turbo
dist
.env
.eslintcache
.million
storybook-static
coverage-ts
swagger.json
swagger.yaml
openapi.json
openapi.yaml
docs.html
dependency-graph.svg
packages/*/node_modules
storybook.log

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*storybook.log