@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "@tailwindcss/typography";

@theme {
	--font-sans: var(--font-geist-sans);

	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--background: 0 0% 100%;
	--foreground: 222.2 84% 4.9%;

	--card: 0 0% 100%;
	--card-foreground: 222.2 84% 4.9%;

	--popover: 0 0% 100%;
	--popover-foreground: 222.2 84% 4.9%;

	--primary: 222.2 47.4% 11.2%;
	--primary-foreground: 210 40% 98%;

	--secondary: 210 40% 96.1%;
	--secondary-foreground: 222.2 47.4% 11.2%;

	--muted: 210 40% 96.1%;
	--muted-foreground: 215.4 16.3% 46.9%;

	--accent: 210 40% 96.1%;
	--accent-foreground: 222.2 47.4% 11.2%;

	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 40% 98%;

	--border: 214.3 31.8% 91.4%;
	--input: 214.3 31.8% 91.4%;
	--ring: 222.2 84% 4.9%;

	--radius: 0.5rem;

	--color-accent: hsl(var(--accent));
	--color-accent-foreground: hsl(var(--accent-foreground));

	--color-background: hsl(var(--background));
	--color-border: hsl(var(--border));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));

	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));

	--color-foreground: hsl(var(--foreground));
	--color-input: hsl(var(--input));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));

	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground));

	--color-primary: hsl(var(--primary));
	--color-primary-foreground: hsl(var(--primary-foreground));

	--color-ring: hsl(var(--ring));

	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}

	html,
	body {
		overscroll-behavior: none;
	}

	#__next {
		@apply h-full;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}
